<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в Лучший Банк</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div th:if="${successMessage}" style="color: green; font-weight: bold;">
        <p th:text="${successMessage}"></p>
    </div>
    <table style="width:30%;margin:auto;background-color:whitesmoke;padding:10px;border-radius:5px;">
        <tr th:if="${errors != null}">
            <td colspan="2" style="color:red;font-weight:bold;" th:each="error : ${errors}" th:text="${error}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" th:value="${email}" required/></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;"><button type="submit">Войти</button></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;padding-top:10px;">
                <a th:href="@{/register}">Нет аккаунта? Зарегистрироваться</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>