<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Лучший Банк</title>
</head>

<body>
<br>
<form th:action="@{/logout}" method="post" style="float:right;">
    <button type="submit" style="background:none; border:none; padding:0; font-weight:bold; cursor:pointer;">
        ВЫЙТИ &cudarrr;
    </button>
</form>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr><td style="padding:2px;">
        <form method="post" th:action="@{'/editPassword'}" oninput="submitBtn.disabled = newPassword.value !== confirmPassword.value">
            <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
                <tr>
                    <td colspan="3" th:text="'Добро пожаловать, ' + ${session.userName} + '!'" style="font-weight:bold;"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Изменить пароль</td>
                    <td>
                        <p style="color:red;" th:if="${passwordErrors != null}" th:each="passwordError : ${passwordErrors}" th:text="${passwordError}"></p>
                        <p style="color:green;" th:if="${successPasswordMessage != null}" th:text="${successPasswordMessage}"></p>
                        <p>
                            Пароль: <input id="newPassword" name="newPassword" type="password" required/>
                        </p>
                        <p>
                            Повторите пароль: <input id="confirmPassword" name="confirmPassword" type="password" required/>
                        </p>
                    </td>
                    <td style="text-align:right">
                        <button id="submitBtn" disabled>Изменить пароль</button>
                    </td>
                </tr>
            </table>
        </form>
    </td>
    <tr><tr style="padding:2px;">
        <form method="post" th:action="@{'/editAccount'}">
        <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
            <tr>
                <td>
                    <p style="color:red;" th:if="${accountErrors != null}" th:each="accountError : ${accountErrors}" th:text="${accountError}"></p>
                    <p style="color:green;" th:if="${successUpdateAccMessage != null}" th:text="${successUpdateAccMessage}"></p>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Email</td>
                <td th:text="${email}"/>
                <td>
                    <input name="email" type="text" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Имя</td>
                <td th:text="${name}"/>
                <td>
                    <input name="name" type="text" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Фамилия</td>
                <td th:text="${surname}"/>
                <td>
                    <input name="surname" type="text" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Дата рождения</td>
                <td th:text="${birthdate}"/>
                <td>
                    <input name="birthdate" type="date" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Номер телефона</td>
                <td th:text="${phone}"/>
                <td>
                    <input name="phone" type="text" style="width:100%"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right" colspan="3">
                    <button>Сохранить изменения</button>
                </td>
            </tr>
        </table>
        </form>
    </td></tr>
    <tr><td style="padding:2px;">
        <form method="post" th:action="@{'/cash'}">
            <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
                <tr>
                    <td>
                        <p style="color:red;" th:if="${cashErrors != null}" th:each="cashError : ${cashErrors}" th:text="${cashError}"></p>
                        <p style="color:green;" th:if="${successCashMessage != null}" th:text="${successCashMessage}"></p>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Наличные</td>
                    <td>
                        <input name="amount" type="number" style="width:100%" required/>
                    </td>
                    <td>
                    <td style="text-align:right">
                        <button name="action" value="PUT">Положить</button>
                        <button name="action" value="GET">Снять</button>
                    </td>
                </tr>
            </table>
        </form>
    </td></tr>
    <tr><td style="padding:2px;">
        <form method="post" th:action="${'/user/'+login+'/transfer'}">
            <table style="width:100%;margin-left:auto;margin-right:auto;border-radius:2%;padding:10px;background-color:whitesmoke;">
                <tr th:if="${transferOtherErrors!=null}" th:each="transferOtherError : ${transferOtherErrors}">
                    <td style="color:red;" th:text="${transferOtherError}"/>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Перевод</td>
                    <td>
                        <input name="value" type="number" required/>
                    </td>
                    <td>
                        Кому
                        <select name="to_login">
                            <option th:each="account : ${accounts}" th:value="${account.getId()}" th:text="${account.getName()} + ' ' + ${account.getSurname()} + ' Тел.: ' + ${account.getPhone()}"/>
                        </select>
                    </td>
                    <td style="text-align:right">
                        <button>Перевести</button>
                    </td>
                </tr>
            </table>
        </form>
    </td></tr>
</table>
</body>

</html>