<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация в Лучшем Банке</title>
</head>
<body>
<form th:action="@{/register}" method="post">
    <table style="width:40%;margin:auto;background-color:whitesmoke;padding:15px;border-radius:5px;">

        <!-- Вывод ошибок -->
        <tr th:if="${errors != null}">
            <td colspan="2" style="color:red;font-weight:bold;">
                <ul>
                    <li th:each="err : ${errors}" th:text="${err}"></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Email</td>
            <td>
                <input type="email" name="email" th:value="${register?.email}" required/>
            </td>
        </tr>

        <tr>
            <td>Пароль</td>
            <td>
                <input type="password" name="password" required/>
            </td>
        </tr>

        <tr>
            <td>Имя</td>
            <td>
                <input type="text" name="name" th:value="${register?.name}" required/>
            </td>
        </tr>

        <tr>
            <td>Фамилия</td>
            <td>
                <input type="text" name="surname" th:value="${register?.surname}" required/>
            </td>
        </tr>

        <tr>
            <td>Дата рождения</td>
            <td>
                <input type="date" name="birthdate" th:value="${register?.birthdate}" required/>
            </td>
        </tr>

        <tr>
            <td>Телефон</td>
            <td>
                <input type="text" name="phone" th:value="${register?.phone}" required/>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:right;">
                <button type="submit">Зарегистрироваться</button>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center;padding-top:10px;">
                <a th:href="@{/login}">Уже есть аккаунт? Войти</a>
            </td>
        </tr>

    </table>
</form>
</body>
</html>
